<div id="hm_page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>Manage Your Chama,</h3></div></li>
            <li><span>Image 02</span><div><h3>The Smart Way.</h3></div></li>
            <li><span>Image 03</span><div><h3>From the Cloud.</h3></div></li>
            <li><span>Image 04</span><div><h3>Seamlessly.</h3></div></li>
            <li><span>Image 05</span><div><h3>Hussle Free.</h3></div></li>
            <li><span>Image 06</span><div><h3>Just Awesome.</h3></div></li>
        </ul>
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="http://trendpro.co.ke/" target ="_blank">
                   Powered by TrendPro Systems
                </a>
                <span class="right">
                    <a href="#" target="_blank">About Us</a>
                    <a href="#" target="_blank">Contact Us</a>
                    <a href="#">
                        <strong>Help</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Smart<span>Chama.</span></h1>
                <h2>The Smart way to run Chama</h2>
				
                <div class="rt">

                    <button class="btn btn-info btn-flat" onclick="javascript:document.location='http://localhost:8080/home/dashboard'">
                        Login
                    </button>
                </div>
            </header>
            
        </div>
    </div>