#buddypress form#whats-new-form textarea,select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],#bbp_search,#buddypress div.dir-search input[type=text],#buddypress .standard-form textarea,#buddypress .standard-form input[type=text],#buddypress .standard-form select,#buddypress .standard-form input[type=password],#buddypress .dir-search input[type=text] {
font-family:'Open Sans', sans-serif;
display:inline-block;
height:35px;
margin-bottom:10px;
font-size:13px!important;
font-weight:300;
line-height:22px;
color:#777!important;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background-color:#fff;
border:1px solid #e5e5e5;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
-webkit-transition:border linear .2s box-shadow linear .2s;
-moz-transition:border linear .2s box-shadow linear .2s;
-o-transition:border linear .2s box-shadow linear .2s;
transition:border linear .2s box-shadow linear .2s;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-box-sizing:border-box;
padding:6px 10px!important;
}

#buddypress form#whats-new-form textarea:focus,#bbp_search:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {
outline:0;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
border-color:#17466E;
}

#buddypress form#whats-new-form textarea {
height:100px;
}