/**
  * Custom Styles for SmartChama
  *
  */

.footer {
  background-color: rgba(0,0,0, 0.5);
  height: 25px;
}

.footer a{
  font-family: 'BebasNeueLight', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;  
  
}