/**
  * Custom Styles for SmartChama
  *
  */

.footer {
  background-color: rgba(0,0,0, 0.8);
  height: 25px;
}

.footer a{
  font-family: 'BebasNeueLight', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;  
  
}

#login-box {
	margin-top: 12px;
}

.datepicker-days{
	display: none !important;
}

#error_explanation ul li{
	color: red !important;
}
